body {
    
    color:red ;
    background: black ;
    margin: 0px;
    font-family: "Livre Beskerville", serif;

}

header{

    border-bottom: silver 2px rgb( red );
    padding: 20px;
    font-size: 50px;
    color: rgb(0, 0, 0)

}

section{

    background: rgb(169, 5, 5);
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    
}

div {
    margin-right: 20px;
}

.chamada-texto {
    margin-right: 20px;
}

/* código omitido */

section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

body {
    color: black;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  img {
    height: 200px;
  }

  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  section {
    background: rgb(124, 43, 43);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  /* código omitido */
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid black;
}

